/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-ene-2014, 15:11:09
    Author     : Chechu
*/


.incidencias th{
    background-color: slateblue;
    color: palegoldenrod;
    font-size: larger;
}

.incidencias td{
    padding: 3px;    
    font-weight: bolder;
}

.incidencias tr:hover{
    background-color: papayawhip;
}

.falta{
    background-color: #e17009;
    color: darkslategrey;
    font-size:16px;
}

.sobra{
    background-color: darkseagreen;
    color: black;
    font-size:16px;
}