/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-sep-2014, 17:09:57
    Author     : Jesús Martín
*/

body{
    background-color: #cccccc;
    margin: 0;
    font-family: arial;
    color: #666666;
}

.bienbenida{
    font-family: arial;
    font-size: larger;
    font-style: italic;
    margin: 40px 0px 0px 40px;
}

.titulo_login{
    background-color: #999999;
    text-align: center;
    margin: auto;
    width: 500px;
    margin-top: 10%;
    font-family: arial;
    font-size: 20px;
    padding: 28px 0px 8px 0px;

}

#buscar {
    color: #2f2f2f;
    font-size: 0.95em;
    width: 178px;
    border: none;
    margin-left: 6px;
    z-index: 1500;
    position: relative;
    background-color: transparent;
    border-bottom:1px solid #999999;
    padding:0 0 0 4px;
    outline:none;
    height:24px;
    text-align:right;
}

#iconbuscar{
    margin-left:40px;
    width:50px;
    height:28px;
    background:url(../../imagenes/icon_search.png) no-repeat;
    float:left;
}

#frmbuscar:hover div{
    background-position: 0 -28px;
}

#frmbuscar:hover #buscar{
    border-bottom-color: #0099cc;
}

.todos{
    float:left;
}

.todos a{
    text-decoration: none;
    padding: 5px;
    color: violet;
    text-shadow: 2px 2px black;
}

.todos a:hover{
    text-shadow: none;
    color:#cccc00;
}

.frm_smn table{
    margin:auto;
}

.frm_smn th{
    background-color: #660066;
    color:#0099cc;
    padding:5px;
}

.formulario{
    background-color: #999999;
    margin: auto;
    width: 500px;
    padding: 8px 0px 28px 0px;
    font-family: arial;

}

.formulario table{
    margin: auto;
}

.alerta{
    background-color: #999999;
    color: #ff3333;
    font-size: 16px;
}

.mensaje{
    background-color:#acb3f0;
    border: 4px solid #60a1e2;
    color: #1167dc;
    font-style: italic;
    font-size: 30px;
    width: 600px;
    padding: 15px;
    margin: auto;
}

#contenedor{
    background-color: white;
    width: 850px;
    padding: 8px;
    box-shadow: #000 2px 2px 2px;
    margin: auto;
    margin-top: 5px;
}

#menu{
    width: 700px;
    margin: auto;
    background-color: #ccccff;
}

#menu a{
    font-size: 11px;
}

#menu ul li{
    list-style: none;
    display: inline-table;
    padding: 8px;
    background-color: #ccccff;
    width: 50px;
    text-align: center;
    border-radius: 6px;
}

#menu ul li:hover{
    background-color: #99ccff;

}

#menu ul li a{
    text-decoration: none;
    font-family: arial;
    font-size: 12px;
}

#menu ul li ul{
    display: none;
    position: absolute;
}

#menu ul li:hover ul li,#menu ul li:hover ul{
    display:block;
    margin-left:-24px;
}

.titulo{
    background-color: #0074c7;
    color: #ccccff;
    text-align: center;
    padding: 8px;
    font-weight: bolder;
    margin-bottom: 15px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    box-shadow: 3px 3px 3px;
    -moz-box-shadow: 3px 3px 3px;
    -webkit-box-shadow: 3px 3px 3px;
}

.calendario{
    height: 44px; 
    width: 50px; 
    color: transparent; 
    cursor:pointer; 
    background-color: transparent;
    background-image: url('../../imagenes/agenda1.gif'); 
    background-repeat: no-repeat; 
    border: none;
}

.calendario:hover{
    background-image: url('../../imagenes/agenda.gif'); 
}

#tabla{
    color: black;
    clear: both;
    text-align: center;
}

#tabla table{
    border-collapse: collapse;
    background-color:#ffffcc;
    margin: auto;
}

#tabla td a{
    color: #33cc00;
        text-decoration: none;
}

#tabla th{
    background-color: #0074c7;
    color: #ccffff;
    padding: 5px;
    border-bottom: 3px black solid;
}

#tabla td{
    border-bottom: 1px black solid;
    padding: 3px;
}

#tabla table tr:hover{
    background-color: #cccc00;
    color: #990099;
}

#tabla table tr:hover a{
    color: #990099;
}

.pedido{
    background-color: #004276;
    color: #ccffff;
}

.ps{
    background-color: #ff9999;
    color: #000;
    font-weight: bolder;
}

#pie{
    margin-top: 20px;
    border-top: red solid 2px;
    text-align: center;
    font-size: 11px;
    font-family: arial;
    color:#999999;
}